es-order-review .container {
  height: auto;
}

es-order-review .ads {
	display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  width: 25vw;
  height: 80vh;
}

es-order-review #products {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  width: 70vw;
}
