<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools">
  <md-button class="menu md-icon-button" hide-gt-sm ng-click="$ctrl.toggleList()"
             aria-label="Show User List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>Angular Material - Starter App</h1>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

  <!-- Container #3 -->
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="list" ng-click="$ctrl.toggleList()">
    <!-- Custom UsersList component -->
    <es-users-list
        users="$ctrl.users"
        selected="$ctrl.selected"
        on-selected="$ctrl.selectUser(user)">
    </es-users-list>
  </md-sidenav>

  <!-- Container #4 -->
  <md-content flex id="content">
    <!-- Custom UserDetails component -->
    <es-user-details
        selected="$ctrl.selected" >
    </es-user-details>
  </md-content>

</div>
