<md-button id="filter"
           class="md-icon-button" hide-gt-sm
           ng-click="$ctrl.toggleFilter()"
           aria-label="Покажи филтър">
  <md-icon md-svg-icon="menu"></md-icon>
</md-button>

<!-- Container #2 -->
<div flex layout="row" flex>

  <!-- Container #3 -->
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="filter">
    <es-product-filter></es-product-filter>
  </md-sidenav>

  <!-- Container #4 -->
  <md-content flex id="content">
    <!-- Custom UserDetails component -->
    <es-user-details
        selected="$ctrl.selected" >
    </es-user-details>
  </md-content>

</div>
