<md-button id="filter"
           class="md-icon-button" hide-gt-sm
           ng-click="$ctrl.toggleFilter()"
           aria-label="Покажи филтър">
  <md-icon md-svg-icon="menu"></md-icon>
</md-button>

<div flex layout="row" flex>

  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="filter">
    <es-product-filter></es-product-filter>
  </md-sidenav>

  <md-content flex id="content">
    <es-products-list></es-products-list>
  </md-content>

</div>
