<div class="container" layout="column">

  <div class="top" layout="row">
    <div class="gallery" layout="row">

      <div class="rest" layout="column">
        <img src="{{$ctrl.product.image}}" />
        <img src="{{$ctrl.product.image}}" />
        <img src="{{$ctrl.product.image}}" />
      </div>

      <img class="main" src="{{$ctrl.product.image}}" />
    </div>

    <div class="main">
      <h3 class="label">{{$ctrl.product.label}}</h3>
      <es-stars class="stars" count="$ctrl.product.stars"></es-stars>
      <div class="price">Цена: {{$ctrl.product.price}} лв</div>
    </div>
  </div>

  <div class="bottom">
    <div class="properties">
      Характеристики:
      <div class="property" ng-repeat="property in $ctrl.product.properties">&bull; {{property}}</div>
    </div>
  </div>
</div>
