<div class="container">

  <div class="top" layout="row">
    <div class="gallery" layout="row">

      <div class="rest" layout="column">
        <img src="{{$ctrl.product.image}}" />
        <img src="{{$ctrl.product.image}}" />
        <img src="{{$ctrl.product.image}}" />
      </div>

      <img class="main" src="{{$ctrl.product.image}}" />
    </div>

    <div class="main">
      <h3 class="label">{{$ctrl.product.label}}</h3>
      <div class="rating">
        Оценка
        <es-stars class="stars" count="$ctrl.product.stars"></es-stars>
      </div>
      <div class="favorite" ng-click="$ctrl.product.favorite = !$ctrl.product.favorite">
        В любими
        <md-icon ng-if="$ctrl.product.favorite" md-svg-icon="heart-solid"></md-icon>
        <md-icon ng-if="!$ctrl.product.favorite" md-svg-icon="heart-empty"></md-icon>
      </div>
      <div class="cart">
        Добави в количката
        <md-icon md-svg-icon="cart"></md-icon>
      </div>
      <div class="price">Цена: {{$ctrl.product.price}} лева</div>
      <div class="warranty">
        Гаранция: 24 месеца
        <md-icon md-svg-icon="shield"></md-icon>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="properties">
      <div class="header">Характеристики:</div>
      <div class="property" ng-repeat="property in $ctrl.product.properties">&#x2713; {{property}}</div>
    </div>
  </div>
</div>
