
es-product {
  font-size: 20px;
  overflow-y: auto;
}

es-product .top {
  justify-content: space-around;
}

es-product .gallery img {
  border-radius: 8px;
  margin: 10px;
}

es-product .gallery img.main {
  width: 30vw;
  height: 30vw;
  margin: 20px;
}

es-product .gallery .rest img {
  width: 10vw;
  height: 10vw;
}

es-product .main > * {
  margin: 20px;
}

es-product .main es-stars {
  display: inline-block;
}

es-product .main .favorite {
  cursor: pointer;
}

es-product .main .cart {
  cursor: pointer;
}

es-product .bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

es-product .properties {
  width: 60vw;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
}

es-product .properties .header {
  font-weight: 600;
  margin-bottom: 10px;
}
