<div class="container">
  <div class="image" ng-style="{'background-image': $ctrl.imageUrl}">
    <div class="favorite">
      <md-icon ng-if="$ctrl.item.favorite" md-svg-icon="heart-solid"></md-icon>
      <md-icon ng-if="!$ctrl.item.favorite" md-svg-icon="heart-empty"></md-icon>
    </div>
  </div>

  <div layout="column">
    <h3 class="label">{{$ctrl.item.label}}</h3>

    <div class="properties">
      Характеристики:
      <div class="property" ng-repeat="property in $ctrl.item.properties">&bull; {{property}}</div>
    </div>
  </div>

  <div class="price">Цена: {{$ctrl.item.price}} лв</div>
</div>
