<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>eshop</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="css/app.css"/>
</head>

<body ng-cloak layout="column" ng-app="eshop" ng-controller="AppController as $ctrl">
  <md-toolbar class="toolbar" layout="row" layout-padding>
    <div class="logo" ui-sref="home"></div>

    <md-input-container class="search-bar">
       <md-icon md-svg-icon="magnifier"></md-icon>
       <input ng-model="$ctrl.search" placeholder="Търсене">
    </md-input-container>

    <md-nav-bar md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('favorite')" name="favorite">
        <md-icon md-svg-icon="heart-solid"></md-icon>
        Любими
      </md-nav-item>
      <md-nav-item md-nav-click="goto('profile')" name="profile">
        <md-menu>
          <div class="profile-button" ng-click="$mdMenu.open()">
            <md-icon md-svg-icon="user"></md-icon>
            Моят профил
          </div>

          <md-menu-content width="4">
            <md-menu-item>
              <md-button ui-sref="login">
                <md-icon md-svg-icon="login"></md-icon>
                Влизане
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="register">
                <md-icon md-svg-icon="register"></md-icon>
                Регистрация
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="orderReview">
                <md-icon md-svg-icon="choice"></md-icon>
                Поръчки
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-nav-item>
      <md-nav-item md-nav-click="goto('cart')" name="cart">
        <md-menu>
          <div class="cart-menu-button" ng-click="$mdMenu.open()">
            <md-icon md-svg-icon="cart"></md-icon>
            Моята количка
          </div>

          <md-menu-content width="4">
            <md-menu-item>
              <md-button ui-sref="cart">
                <md-icon md-svg-icon="cart"></md-icon>
                Преглед
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="payment">
                <md-icon md-svg-icon="credit-card"></md-icon>
                Плащане
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-nav-item>
    </md-nav-bar>
  </md-toolbar>
  <ui-view></ui-view>
  <script src="js/libs.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
