<h2 class="header">Филтър</h2>

<div class="special-filters" layout="column">
  <md-checkbox
    ng-repeat="specialFilter in $ctrl.specialFilters"
    ng-model="specialFilter.selected"
    aria-label="{{specialFilter.label}}">
    {{specialFilter.label}}
  </md-checkbox>
</div>

<div class="categories">
  <h3 class="panel-header">Категории</h3>
  <div class="panel-content" layout="column">
    <md-checkbox
      ng-repeat="category in $ctrl.categories"
      ng-model="category.selected"
      aria-label="{{category.label}}">
      {{category.label}}
    </md-checkbox>
  </div>
</div>

<div class="price">
  <h3 class="panel-header">Цена</h3>
  <div class="panel-content" layout="row">
    от
    <md-input-container>
      <input type="number" ng-model="$ctrl.filter.price.lower" aria-label="минимална цена">
    </md-input-container>
    до
    <md-input-container>
      <input type="number" ng-model="$ctrl.filter.price.upper" aria-label="максимална цена">
    </md-input-container>
    лв.
  </div>
</div>

<div class="manufacturers">
  <h3 class="panel-header">Производител</h3>
  <div class="panel-content" layout="column">
    <md-checkbox
      ng-repeat="manufacturer in $ctrl.manufacturers | orderBy: 'label'"
      ng-model="manufacturer.selected"
      aria-label="{{manufacturer.label}}">
      {{manufacturer.label}}
    </md-checkbox>
  </div>
</div>