es-order-item .payment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

	border: 2px solid gray;
	border-radius: 10px;
	width: 60vw;
	padding: 15px;
  margin: 10px;

  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

es-order-item .payment-container:hover {
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
}

es-order-item .right {
  margin-left: 10px;
}
