<div layout="row">
  <div class="left">
    <h3 class="ads">Място за реклама</h3>

    <h3 class="breadcrumbs">Моята количка <b>></b> Преглед</h3>

    <div class="products">
      for each product
    </div>
  </div>

  <div class="right">
    <div class="overview" layout="column">
      <h3>Бърз преглед</h3>
      <h3 class="sum">Обща сума: 1600 лева</h3>
      <md-button ui-sref="payment">
        <md-icon md-svg-icon="credit-card"></md-icon>
        Продължи към плащане
      </md-button>
    </div>

    <es-similar-items></es-similar-items>
  </div>
</div>