#register-form {
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px; /*50%*/
    height: 500px; /*40%*/
    background-color: gray;
    border: 1;
    border-style: solid;
}

.text {
	color: black;
}

#register-fields {
  width: 60%;
	margin: 5%;
	color: black;
   /*background-color: green;*/
}
