[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Primary content area */

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

.toolbar {
  justify-content: space-around;
}

.search-bar {
  padding-bottom: 0;
  margin-bottom: 0;
}

ui-view {
  height: calc(100% - 80px);  /* 80px = top navbar */
}

ui-view > * > * {
  height: 100%;
}
