es-payment .payment-container {
    height: auto;
}

es-payment #informations {
    /*width: 80%;*/
    /*height: 45%;*/
    /*margin: 2.5%;*/
}

es-payment .margin {
    margin: 2%;
}

es-payment .border {
    border: 1;
    border-style: solid;
}

es-payment #delivery-info {
/*    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;*/
    /*margin: auto;*/
    /*width: 500px; */
    /*height: 500px; */
    margin-right: 0;
    margin-bottom: 0;
    background-color: gray;

    display: inline-block;
    /*margin: 2.5%;*/
}

es-payment #payment-info {
/*    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;*/
    /*margin: auto;*/
    /*width: 500px; */
    /*height: 500px; */
    background-color: gray;
    border: 1;
    border-style: solid;
    margin-bottom: 0;
    /*margin-right: 0;*/
    /*display: inline-block;*/
    /*margin: 2.5%;*/
}

es-payment #summary {
    margin: 1.5%;
    margin-left: 0;
    width: 20%;
    text-align: center;
    background-color: gray;
}

es-payment .field {
    display: block;
    /*margin: 5px;*/
    margin: 15px;
    color: black;
    /*background-color: green;*/
}

es-payment .payment-logo {
   text-align: center;
   height: 10%;
   width: 10%;
   margin: 4% 2.5%;
 }

es-payment .heading {
    text-align: center;
    color: black;
}